div{
    width: 480px;
    background: #23fc;
    height: 1000px;
    padding: 10px;
    border: 2px solid black;
    
}
h1{
    margin: 100px;
    background: #23fc;
    width: 300px;
    display: inline-block;
}

body{
    background: url(../imagenes/images.jpg);
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-position: 10% 5px;
}

/*Posición de cajas*/

.caja{
    position: relative;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 100px;

}

/*Tipografia y texto*/

blockquote{
    font-family: cursive;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-shadow: 5px 5px 5px #000000;
}